h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}

h1 {
  font-size: 26px;

  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  font-family: sans-serif;
}

h3 {
  font-size: 30px;
  font-family: sans-serif;
}

h4 {
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  font-family: sans-serif;
  line-height: 1.5;
}

li {
  font-family: sans-serif;
  font-size: 20px;
}

footer p {
  font-size: 15px;
}

artical header p {
  font-style: italic;
}
#author {
  font-style: italic;
  font-size: 18px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

h1,
h2,
h3 {
  color: #1098ad;
}

header {
  background-color: rgba(189, 219, 236, 0.884);
}

aside {
  background-color: rgb(240, 238, 238);
  border-top: 5px solid rgba(189, 219, 236, 0.884);
}
